extends layout

block content
  h1= title
  h2 Welcome to #{title}
  p Copy the request from the user requirements.
  textbox 
  p In your words describe the request you're working on.
  textbox 
  p What difficulties are you having?
  textbox 
  p When I can show links, I will show them :/ 
  p I can't right now. *quacks sadly* 

